body {
    color: #fff;
    font-family: Futura;
    padding: 20px;
}

h1 {
    background-color: #A4036F;
}

h3 {
    background-color: #048BA8;
}

.container {
    border: 10px solid black;
    border-top-color: rgb(99, 99, 99); /* this is a way how to style only one side of border along your needs */
    border-bottom-style: dotted;
    padding: 10px;
    border-radius: 5px;
  }

#one {
    background-color: #16DB93;
}

ul {
    background-color: #EFEA5A;
}

#two {
    background-color: #FE5E41;
}

a {
    background-color: #E6F6C2;
    color: #000;
}

/* exerecise focused on depicting a way how to use mediaquery in responsive design */
nav {
    background-color: #E8D7FF;
    padding: 10px;
    margin: -8px;
}

a {
    font-weight: 200;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Helvetica;
    color: #151814;
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

/* media query example */
@media all and (max-width: 320px) {
    li {
        display: block;
        margin: 5px 0px;
    }
}